@page
@model DebraEventWebClient.Pages.IndexModel
@{
    ViewData["Title"] = "Debra Events";
}

<div class="container text-center my-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <h1 class="display-4 font-weight-bold mb-4">Welcome to Debra Events</h1>
            <p class="lead">
                Debra Events, based in Singapore, is a leading event management company
                specializing in high-profile musical shows with world-renowned musicians and bands.
                Join us for our upcoming events and experience a musical journey like no other.
                Stay updated through our website and social media.
            </p>
            <p class="font-italic mb-4">
                Debra Events Pvt. Ltd
            </p>
            <img src="~/Css/logo.jpg" class="img-fluid mb-4" alt="Debra Events Logo" />
            <p>
                <a href="/ViewCommission" class="btn btn-primary btn-lg">View Commissions</a>
            </p>
        </div>
    </div>
</div>
