@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="text-center">
<h1>@ViewData["Title"]</h1>


    <p class="display-4">
        If you have any questions about this privacy policy or our data practices, please contact us at:<br />

        Debra Event Management Company<br />
        Email: privacy@debraevents.sg<br />
        Phone: +65 1234 5678<br />

        Thank you for choosing Debra for your event experience. We look forward to welcoming you to our shows and providing you with an unforgettable experience. <br />
        
        <img src="~/Css/logo.jpg" />
    </p>
</div>