html {
    font-size: 0.875rem; /* 14px equivalent */
}

@media (min-width: 768px) {
    html {
        font-size: 1rem; /* 16px equivalent */
    }
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    text-align: left;
    padding: 20px;
    font-weight: 300;
    border: 1px solid;
}

tr {
    background: #f4f7f8;
    border-bottom: 1px solid #FFF;
    margin-bottom: 5px;
}

/* Responsive table container */
.table-responsive {
    overflow-x: auto;
}

tr:hover {
    background-color: #e9ecef;
}